header {
  width: 100%;
  background: whitesmoke;
  position: fixed;
  z-index: 4;
}

main {
  height: 700px;
}

footer {
  position: relative;
  font: 14px 'Arial';
}

.header-name {
  font: 32px 'PT SansNarrow';
  text-align: center;
}

.header-name:first-letter {
  color: red;
}

.email {
  color: #4c4cd8;
}

.mail-address {
  float: left;
}

.site-info {
  margin-top: 4%;
  float: right;
}

.slider,
.modal {
  position: absolute;
  display: block;
}

.slider {
  text-align: center;
  top: 70px;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: antiquewhite;
  border: 1px solid darkgray;
}

[name="slider-button"] {
  display: none;
}

.cats {
  width: 4000px;
  transition: 1s;
}

.first-cat,
.second-cat,
.third-cat,
.fourth-cat,
.fifth-cat {
  position: relative;
  width: 400px;
  height: 400px;
  opacity: .7;
  margin-right: 65px;
  margin-top: 50px;
  float: left;
  display: block;
}

.cat-name,
.cat-image {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.cat-image {
  z-index: 2;
  cursor: pointer;
}

.cat-name,
.modal-name {
  font-weight: bold;
  color: white;
  font-size: 34px;
}

.cat-name p {
  margin: 50% auto;
}

.cat1:checked ~ .cats {
  margin-left: 35%;
}

.cat2:checked ~ .cats {
  margin-left: 0;
}

.cat3:checked ~ .cats {
  margin-left: -34%;
}

.cat4:checked ~ .cats {
  margin-left: -68%;
}

.cat5:checked ~ .cats {
  margin-left: -103%;
}

.cat1:checked ~ .cats .first-cat,
.cat2:checked ~ .cats .second-cat,
.cat3:checked ~ .cats .third-cat,
.cat4:checked ~ .cats .fourth-cat,
.cat5:checked ~ .cats .fifth-cat {
  opacity: 1;
  transform: scale(1.25);
}

.active label {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

.active {
  margin-top: 550px;
  text-align: center;
}

.cat1:checked ~ .active label:nth-child(1),
.cat2:checked ~ .active label:nth-child(2),
.cat3:checked ~ .active label:nth-child(3),
.cat4:checked ~ .active label:nth-child(4),
.cat5:checked ~ .active label:nth-child(5) {
  background: #18a3dd;
}

.cat1:checked ~ .cats .first-cat:hover .cat-name,
.cat2:checked ~ .cats .second-cat:hover .cat-name,
.cat3:checked ~ .cats .third-cat:hover .cat-name,
.cat4:checked ~ .cats .fourth-cat:hover .cat-name,
.cat5:checked ~ .cats .fifth-cat:hover .cat-name {
  z-index: 3;
  background: rgba(0, 0, 0, .5);
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
}

.modal:target {
  z-index: 5;
  display: block;
  pointer-events: auto;
  background: rgba(0, 0, 0, .9);
}

.modal-content {
  width: 100%;
  height: 100%;
  margin: 5% 31%;
}

.modal-image,
.modal-description,
.close {
  position: relative;
  float: left;
  display: block;
}

.modal-image {
  width: 500px;
  height: 500px;
}

.modal-description {
  margin: 5% 5%;
  width: 250px;
  font-size: 22px;
  color: white;
}

.close {
  color: white;
  text-align: center;
  right: 12px;
  text-decoration: none;
  font-weight: bold;
  width: 15px;
  height: 15px;
}
